 <div class="main bg-danger"> 
   <table class="table">
        <thead>
        <tr>
            <th scope="col">Meme Number</th>
            <th scope="col">Meme Name</th>
            <th scope="col">Meme Image</th>
            <th scope="col">Meme Description</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Your face</td>
            <td><app-terzo></app-terzo></td>
            <td>In questo meme puoi vedere la tua faccia</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Free food?</td>
            <td><app-quarto></app-quarto></td>
            <td>In questa foto c'è un ciccione</td>
        </tr>
        </tbody>
    </table>
</div> 